body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.dashboard {
  display: flex;
  flex: 1; /* Ocupa el espacio restante */
}
.contenedor {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}
h1 {
  text-align: center;
}
.form-box {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.form-box h2 {
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  font-weight: bold;
}
.form-group input, .form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn-submit {
  display: block;
  width: 100%;
  padding: 10px;
  background: #11b19b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}